body{font-family: Helvetica, Arial, sans-serif;}
header{
    width: 100%;
    color: azure;
    background-color: green;
    text-align: center;
    line-height: 1.8em;
}
footer{
    width: 100%;
    color:firebrick;
    background-color: goldenrod;
    text-align: center;
    line-height: 1.4em
}
#image-border{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color:darkgreen;
}